.ai-floating{


position:fixed;

right:30px;

bottom:30px;


width:65px;

height:65px;


border-radius:50%;


border:none;


background:#2563eb;


font-size:30px;


cursor:pointer;


box-shadow:

0 0 30px #2563eb;


animation:pulse 2s infinite;


}



@keyframes pulse{


50%{

transform:scale(1.1);

}


}



.chat-box{


position:fixed;

right:30px;

bottom:110px;


width:330px;


background:#0f172a;


border:

1px solid #1e293b;


border-radius:20px;


padding:25px;


color:white;


backdrop-filter:blur(20px);


}



.chat-box h3{


display:flex;

gap:10px;

color:#38bdf8;

}



.chat-box input{


width:100%;

padding:14px;

margin-top:20px;


background:#111827;

border:none;

border-radius:10px;

color:white;


}