.company-page{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:
linear-gradient(
135deg,
#020617,
#111827
);

}


.company-card{

width:420px;

padding:40px;

border-radius:25px;

background:
rgba(255,255,255,0.08);

backdrop-filter:blur(20px);

border:
1px solid rgba(255,255,255,.15);

color:white;

}



.company-card h1{

font-size:36px;

margin-bottom:10px;

}



.company-card p{

color:#cbd5e1;

margin-bottom:25px;

}



.company-card input{

width:100%;

padding:15px;

margin-bottom:15px;

border-radius:12px;

border:none;

outline:none;

background:#111827;

color:white;

font-size:16px;

}



.company-card input::placeholder{

color:#94a3b8;

}



.company-card button{

width:100%;

padding:16px;

border:none;

border-radius:15px;

background:

linear-gradient(
135deg,
#2563eb,
#9333ea
);

color:white;

font-size:18px;

font-weight:bold;

cursor:pointer;

}



.company-card button:hover{

transform:translateY(-3px);

}