.inventory-page{

padding:40px;

color:white;

background:#020617;

min-height:100vh;

}



.inventory-header{

display:flex;

justify-content:space-between;

align-items:center;

}



.inventory-header h1{

font-size:40px;

font-weight:800;

}



.inventory-header p{

color:#94a3b8;

}



.add-product{

background:#2563eb;

color:white;

border:none;

padding:15px 25px;

border-radius:15px;

display:flex;

gap:10px;

align-items:center;

font-weight:700;

cursor:pointer;

}





.inventory-cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

margin-top:35px;

}



.inventory-card{

background:#0f172a;

border:1px solid #1e293b;

border-radius:25px;

padding:25px;

display:flex;

gap:20px;

align-items:center;

}



.inventory-card svg{

font-size:35px;

color:#2563eb;

}



.inventory-card h4{

color:#94a3b8;

}



.inventory-card h2{

font-size:30px;

margin-top:8px;

}



.warning svg{

color:#f59e0b;

}





.inventory-search{

margin-top:35px;

background:#0f172a;

border:1px solid #1e293b;

padding:18px 25px;

border-radius:18px;

display:flex;

gap:15px;

align-items:center;

}



.inventory-search input{

background:none;

border:none;

outline:none;

color:white;

width:100%;

font-size:16px;

}





.products-box{

margin-top:30px;

background:#0f172a;

border-radius:25px;

border:1px solid #1e293b;

overflow:hidden;

}



.table-head,
.product-row{

display:grid;

grid-template-columns:2fr 1fr 1fr 1fr 120px;

padding:22px;

align-items:center;

}



.table-head{

color:#94a3b8;

background:#020617;

}



.product-row{

border-top:1px solid #1e293b;

}



.product-row p{

color:#94a3b8;

}



.low-stock{

background:#451a03;

color:#fbbf24;

padding:7px 14px;

border-radius:20px;

}



.in-stock{

color:#22c55e;

font-weight:bold;

}



.actions{

display:flex;

gap:10px;

}



.actions button{

width:40px;

height:40px;

border:none;

border-radius:12px;

cursor:pointer;

}



.edit{

background:#2563eb;

color:white;

}



.delete{

background:#ef4444;

color:white;

}





.ai-inventory{

margin-top:40px;

padding:35px;

border-radius:30px;

background:

linear-gradient(
135deg,
#2563eb,
#7c3aed
);

}



.ai-inventory h2{

font-size:28px;

}



.ai-inventory button{

margin-top:20px;

background:white;

color:#2563eb;

border:none;

padding:14px 25px;

border-radius:15px;

font-weight:bold;

}



@media(max-width:1000px){

.inventory-cards{

grid-template-columns:repeat(2,1fr);

}


.table-head,
.product-row{

grid-template-columns:1fr;

gap:10px;

}

}


@media(max-width:600px){

.inventory-cards{

grid-template-columns:1fr;

}

.inventory-header{

flex-direction:column;

align-items:flex-start;

gap:20px;

}

}