.landing-page{

min-height:100vh;

background:
linear-gradient(
135deg,
#020617,
#111827
);

color:white;

padding:0 60px;

}



.landing-nav{

height:80px;

display:flex;

justify-content:space-between;

align-items:center;

}



.brand{

font-size:24px;

font-weight:800;

}



.landing-nav a{

color:white;

text-decoration:none;

margin-left:20px;

}



.start-btn,
.primary-btn{

padding:14px 25px;

border-radius:30px;

background:
linear-gradient(
135deg,
#2563eb,
#7c3aed
);

}



.landing-hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:80px 0;

}



.hero-content{

max-width:600px;

}



.hero-content h1{

font-size:55px;

line-height:1.1;

}



.hero-content p{

font-size:20px;

color:#cbd5e1;

}



.ai-circle{

width:320px;

height:320px;

border-radius:50%;

background:
linear-gradient(
135deg,
#2563eb,
#9333ea
);

display:flex;

align-items:center;

justify-content:center;

font-size:100px;

box-shadow:
0 0 80px #2563eb;

}



.floating-card{

position:absolute;

background:white;

color:#111;

padding:15px;

border-radius:15px;

transform:translate(120px,-100px);

}



.second{

transform:translate(-130px,120px);

}



.features{

padding:60px 0;

}



.feature-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:25px;

}



.feature-card{

background:
rgba(255,255,255,.08);

padding:30px;

border-radius:25px;

}



.feature-card svg{

font-size:40px;

color:#38bdf8;

}



.landing-cta{

text-align:center;

padding:70px;

}