.products-page{

padding:35px;

color:white;

background:#020617;

min-height:100vh;

}



.products-header{

display:flex;

justify-content:space-between;

align-items:center;

}



.products-header p{

color:#94a3b8;

}



.add-product{

background:#2563eb;

color:white;

border:none;

padding:14px 25px;

border-radius:15px;

display:flex;

gap:10px;

align-items:center;

}




.product-search{

margin-top:30px;

background:#0f172a;

border:1px solid #1e293b;

padding:15px 20px;

border-radius:15px;

display:flex;

gap:15px;

}



.product-search input{

background:none;

border:none;

outline:none;

color:white;

width:100%;

}





.products-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

margin-top:35px;

}





.product-card{

background:#0f172a;

border:1px solid #1e293b;

border-radius:25px;

padding:25px;

}



.product-icon{

font-size:40px;

color:#60a5fa;

}



.product-card p{

color:#94a3b8;

}



.product-card h3{

font-size:28px;

}





.ai-product-box{

margin-top:35px;

background:linear-gradient(
135deg,
#2563eb,
#7c3aed
);

padding:30px;

border-radius:25px;

}





@media(max-width:900px){

.products-grid{

grid-template-columns:1fr;

}

}