.activity-card{

margin-top:30px;

background:#0f172a;

border:1px solid #1e293b;

border-radius:24px;

padding:30px;

}


.activity-header h2{

color:white;

font-size:24px;

}


.activity-header p{

color:#94a3b8;

margin-top:5px;

}



.activity-list{

margin-top:25px;

display:flex;

flex-direction:column;

gap:15px;

}



.activity-item{

display:flex;

align-items:center;

gap:15px;

padding:15px;

background:#111827;

border-radius:15px;

}



.activity-icon{

width:45px;

height:45px;

border-radius:12px;

display:flex;

align-items:center;

justify-content:center;

background:#2563eb;

color:white;

font-size:18px;

}



.activity-item h4{

color:white;

margin:0;

font-size:15px;

}



.activity-item span{

color:#94a3b8;

font-size:13px;

}