.ai-floating{

position:fixed;

right:30px;

bottom:30px;

width:65px;

height:65px;

border-radius:50%;


background:
linear-gradient(
135deg,
#2563eb,
#7c3aed
);


color:white;

border:none;


display:flex;

align-items:center;

justify-content:center;


cursor:pointer;


box-shadow:
0 10px 30px rgba(37,99,235,.5);


animation:float 3s infinite;

z-index:9999;

}



.ai-floating:hover{

transform:scale(1.1);

}



@keyframes float{

0%,100%{

transform:translateY(0);

}


50%{

transform:translateY(-12px);

}

}